Eclipse/Labeling/bin/**
Eclipse/.metadata/**
Eclipse/.recommenders/**
Eclipse/Labeling/*.log
Eclipse/Labeling/*.info
Eclipse/Labeling/*.pdf
Eclipse/Labeling/*.r
Eclipse/Labeling/*.png
Eclipse/Labeling/.RData
Eclipse/Labeling/.Rhistory
Eclipse/Labeling/Errorlog.Rout
!Eclipse/Labeling/Eval_Template.r
